---
version: "3"

services:
  filter:
    build: .
    image: $USER/nginx-xtra
    privileged: true
    #command: "bash -c '/docker-entrypoint.d/10-flake-env.sh && tail -f /dev/null'"
    container_name: flake-filter
    ports:
      - "80:80"
      - "443:443"
      - "2000-2049:2000-2049"
      - "2100-2149:2100-2149"
      - "2200-2249:2200-2249"
      - "3000-3049:3000-3049"
      - "3100-3149:3100-3149"
      - "3200-3249:3200-3249"
      - "4000-4049:4000-4049/udp"
      - "4100-4149:4100-4149/udp"
      - "4200-4249:4200-4249/udp"
      - "5000-5049:5000-5049"
      - "5100-5149:5100-5149"
      - "5200-5249:5200-5249"
      - "5000-5049:5000-5049/udp"
      - "5100-5149:5100-5149/udp"
      - "5200-5249:5200-5249/udp"
      - "6000-6049:6000-6049"
      - "6100-6149:6100-6149"
      - "6200-6249:6200-6249"
      - "6000-6049:6000-6049/udp"
      - "6100-6149:6100-6149/udp"
      - "6200-6249:6200-6249/udp"
      - "6050-6099:6050-6099"
      - "6150-6199:6150-6199"
      - "6250-6299:6250-6299"
      - "6300:6300"
    environment:
      - FILTER=1
      - SERVICES=0
      - SERVICES_HOST=flake-services
    volumes:
      - "./nginx/logs/filter:/usr/share/nginx/logs"
      - "./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./certs/conf:/etc/letsencrypt:ro"
    depends_on:
      - server
    networks:
      - nginx-proxy

  httpbin:
    image: kennethreitz/httpbin
    container_name: httpbin
    networks:
      - nginx-proxy
    expose:
      - "80"

  server:
    image: $USER/nginx-xtra
    privileged: true
    container_name: flake-services
    depends_on:
      - httpbin
    environment:
      - FILTER=0
      - SERVICES=1
    volumes:
      - "./nginx/logs:/usr/share/nginx/logs"
      - "./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "/usr/share/nginx/public/files"
      - "./certs/conf:/etc/letsencrypt:ro"
    networks:
      - nginx-proxy

  ftpd-server:
    container_name: ftpd-server
    image: stilliard/pure-ftpd:hardened
    ports:
      - "21:21"
      - "20:20"
      - 30000-30009:30000-30009
    volumes:
      - "./ftp/data:/home/username/"
      - "./ftp/pass:/etc/pure-ftpd/passwd"
    environment:
      PUBLICHOST: "0.0.0.0"
      FTP_USER_NAME: "user"
      FTP_USER_PASS: "pass"
      FTP_USER_HOME: "/home/username"
      TLS_CN: "0.0.0.0"
      TLS_ORG: "Sierra Wireless"
      TLS_C: "CA"
      ADDED_FLAGS: "--tls=1 -d"
    networks:
      - nginx-proxy

  mqtt-server:
    container_name: mqtt-server
    image: eclipse-mosquitto:1.6
    ports:
      - "7050-7052:7050-7052"
    volumes:
      - "./mqtt:/mosquitto"
      - "./certs/conf:/etc/letsencrypt:ro"
    expose:
      - "7050-7052"
    networks:
      - nginx-proxy

networks:
  nginx-proxy:
